<template>
  <div class="triva-container">
    <block-top-search ref="searchComponent" block-type="home"></block-top-search>
    <block-find-doctor />
    <block-with-us ref="withUsComponent"> </block-with-us>
    <block-question />
    <block-reason />
    <block-specialist ></block-specialist>
    <block-article />
    <block-footer />
  </div>
</template>

<script>
import TopSearch from './home-blocks/TopSearch.vue'
import FindDoctor from './home-blocks/FindDoctor.vue'
import WithUS from './home-blocks/WithUS.vue'
import Question from './home-blocks/Question.vue'
import FiveReason from './home-blocks/FiveReason.vue'
import Specialist from './home-blocks/Specialist.vue'
import ArticleGallery from './home-blocks/ArticleGallery.vue'
import Footer from './home-blocks/Footer.vue'
import shared from '@/utils/shared'

export default {
  name: 'Home',
  components: {
    'block-top-search': TopSearch,
    'block-find-doctor': FindDoctor,
    'block-with-us': WithUS,
    'block-question': Question,
    'block-reason': FiveReason,
    'block-specialist': Specialist,
    'block-article': ArticleGallery,
    'block-footer': Footer
  },
  data: () => ({
  }),
  methods: {
    setSpeicality (name) {
      this.selectSpeciality = name
      this.$refs.searchComponent.setCurrentSpeciality(name)
    },
    runCardAnimation (animate, blockIndex = 2) {
      var cards = document.getElementsByClassName('find-card')
      for (var i = 0; i < cards.length; i++) {
        if (animate) {
          cards[i].classList.add('animate')
        } else {
          cards[i].classList.remove('animate')
        }
      }
    },
    runStatsAnimation (animationIndex = 0) {
      var drawingIDs = ['iconPatient2', 'iconDoctor2', 'iconTableLamp', 'iconLamp2']
      for (var i = 0; i < drawingIDs.length; i++) {
        document.getElementById(drawingIDs[i]).classList.add('animate')
      }
      // var animtaionTime = 2000
      // var self = this
      // setTimeout(function () {
      //   document.getElementById(drawingIDs[animationIndex]).classList.add('animate')
      //   if (animationIndex < drawingIDs.length - 1) {
      //     self.runStatsAnimation(++animationIndex)
      //   }
      // }, animtaionTime)
    },
    runReasonAnimation (animate = true) {
      // var drawingIDs = ['reasonFirst', 'reasonSecond', 'reasonThird', 'reasonFourth', 'reasonFifth']
      var reasonCards = document.getElementsByClassName('card-reason')
      var animationOrder = [1, 0, 2, 3, 4]
      if (!animate) {
        animationOrder = [3, 4, 0, 2, 1]
      }
      for (var i = 0; i < reasonCards.length; i++) {
        if (animate) {
          reasonCards[animationOrder[i]].classList.add('animate')
        } else {
          reasonCards[animationOrder[i]].classList.remove('animate')
        }
      }
    },
    runSpeicalistAnimation (animate = true, animationIndex = 0) {
      var speicalist1 = document.getElementById('leftSpeicalList')
      var speicalist2 = document.getElementById('middleSpecialist')
      var speicalist3 = document.getElementById('rightSpecialist')
      var delayInterval = 0.1

      if (animate && speicalist1.children[0] && speicalist1.children[0].classList.contains('animate')) {
        return
      }

      for (var i = 0; i < speicalist1.children.length; i++) {
        if (animate) {
          if (speicalist1.children[i]) {
            speicalist1.children[i].style.setProperty('transition-delay', (delayInterval * i) + 's')
          }
          if (speicalist2.children[i]) {
            speicalist2.children[i].style.setProperty('transition-delay', (delayInterval * i) + 's')
          }
          if (speicalist3.children[i]) {
            speicalist3.children[i].style.setProperty('transition-delay', (delayInterval * i) + 's')
          }
          if (speicalist1.children[i]) {
            speicalist1.children[i].classList.add('animate')
          }
          if (speicalist2.children[i]) {
            speicalist2.children[i].classList.add('animate')
          }
          if (speicalist3.children[i]) {
            speicalist3.children[i].classList.add('animate')
          }
        } else {
          var j = speicalist1.children.length - i - 1
          if (speicalist1.children[j]) {
            speicalist1.children[j].style.setProperty('transition-delay', '0s')
          }
          if (speicalist2.children[j]) {
            speicalist2.children[j].style.setProperty('transition-delay', '0s')
          }
          if (speicalist3.children[j]) {
            speicalist3.children[j].style.setProperty('transition-delay', '0s')
          }
          if (speicalist1.children[j]) {
            speicalist1.children[j].classList.remove('animate')
          }
          if (speicalist2.children[j]) {
            speicalist2.children[j].classList.remove('animate')
          }
          if (speicalist3.children[j]) {
            speicalist3.children[j].classList.remove('animate')
          }
        }
      }
      if (animate) {
        document.getElementById('readMoreLink').style.display = 'block'
      }
    },
    runArticleAnimation (animate = true) {
      var galleryCards = document.getElementsByClassName('gallery-card')
      for (var i = 0; i < galleryCards.length; i++) {
        if (animate) {
          galleryCards[i].classList.add('animate')
        } else {
          galleryCards[i].classList.remove('animate')
        }
      }
    },
    scrollPage () {
      // FindDoctor(Block2) Animation
      var header = document.getElementById('findHeader')
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
        if (shared.isMobileVersion()) {
          this.runCardAnimation(true)
        }
      } else {
        header.classList.remove('animate')
      }

      if (!shared.isMobileVersion()) {
        var card = document.getElementsByClassName('flow-box')[0]
        if (shared.scrolledInElement(card)) {
          this.runCardAnimation(true)
        } else {
          this.runCardAnimation(false, 0)
        }
      }

      // WithUS(Block3) Animation
      var countBox = document.getElementById('countBox')
      if (shared.isMobileVersion()) {
        header = document.getElementById('withusMobileHeader')
      } else {
        header = document.getElementById('withusHeader')
      }
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
        if (shared.isMobileVersion()) {
          console.log('000')
          if (!countBox.classList.contains('animate')) {
            countBox.classList.add('animate')
          }
        }
      } else {
        header.classList.remove('animate')
      }

      if (!shared.isMobileVersion()) {
        var consultantView = document.getElementById('consultantView')
        if (shared.scrolledInElement(countBox)) {
          countBox.classList.add('animate')
          this.$refs.withUsComponent.runCountAnimation()

          if (!consultantView.classList.contains('animate')) {
            consultantView.classList.add('animate')
            this.runStatsAnimation()
          }
        }
      }

      // Question(Block4) Animation
      header = document.getElementById('questionHeader')
      var faqBox = document.getElementById('faqBox')
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
        if (shared.isMobileVersion()) {
          if (!faqBox.classList.contains('animate')) {
            faqBox.classList.add('animate')
          }
        }
      } else {
        header.classList.remove('animate')
      }

      if (!shared.isMobileVersion()) {
        if (shared.scrolledInElement(faqBox)) {
          faqBox.classList.add('animate')
        } else {
          faqBox.classList.remove('animate')
        }
      }

      // Reason(Block5) Animation
      header = document.getElementById('reasonHeader')
      var reasonBox = document.getElementById('reasonBox')
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
        if (shared.isMobileVersion()) {
          this.runReasonAnimation(true)
        }
      } else {
        header.classList.remove('animate')
      }

      if (!shared.isMobileVersion()) {
        if (shared.scrolledInElement(reasonBox)) {
          this.runReasonAnimation(true)
        } else {
          this.runReasonAnimation(false)
        }
      }

      // Speicalist(Block6) Animation
      header = document.getElementById('speicalityHeader')
      var specialistBox = document.getElementById('speciallistBox')
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
        if (shared.isMobileVersion()) {
          this.runSpeicalistAnimation()
        }
      } else {
        header.classList.remove('animate')
      }

      if (!shared.isMobileVersion()) {
        if (shared.scrolledInElement(specialistBox)) {
          this.runSpeicalistAnimation()
        } else {
          this.runSpeicalistAnimation(false)
        }
      }

      // Article(Block7) Animation
      header = document.getElementById('articleHeader')
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
        if (shared.isMobileVersion()) {
          this.runArticleAnimation()
        }
      } else {
        header.classList.remove('animate')
      }

      if (!shared.isMobileVersion()) {
        var articleGalleries = document.getElementsByClassName('gallery')
        var galleryGap = document.getElementById('galleryGap')
        if (shared.scrolledInElement(articleGalleries[0]) || shared.scrolledInElement(articleGalleries[1]) || shared.scrolledInElement(galleryGap)) {
          this.runArticleAnimation()
        } else {
          this.runArticleAnimation(false)
        }
      }

      // Footer(Block8) Animation
      header = document.getElementById('footerHeader')
      if (shared.scrolledInElementWithParent(header.offsetParent, header)) {
        header.classList.add('animate')
      } else {
        header.classList.remove('animate')
      }

      var footerContent = document.getElementById('footerLeftContent')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('socialLinks')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('footerRightContent')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('footerRightContent2')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('footerCopyright')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }
    }
  },
  mounted () {
    var self = this
    window.document.body.onscroll = function () {
      self.scrollPage()
    }
  }
}
</script>

<style>
  .triva-container {
    overflow-x: hidden;
  }
</style>
