<template>
  <div>
    <block-header block-type="search" />
    <block-result :show-layer="showResultLayer" />
    <block-article block-type="search"/>
    <block-footer />
  </div>
</template>

<script>
// import store from '../store'
import TopSearch from './home-blocks/TopSearch.vue'
import Result from './search-blocks/Result.vue'
import ArticleGallery from './home-blocks/ArticleGallery.vue'
import Footer from './home-blocks/Footer.vue'
import shared from '@/utils/shared'

export default {
  name: 'Search',
  components: {
    'block-header': TopSearch,
    'block-result': Result,
    'block-article': ArticleGallery,
    'block-footer': Footer
  },
  data: () => ({
    showResultLayer: false
  }),
  methods: {
    runStartSearchActions (start = true) {
      this.showResultLayer = start
    },
    runArticleAnimation (animate = true) {
      var galleryCards = document.getElementsByClassName('gallery-card')
      for (var i = 0; i < galleryCards.length; i++) {
        if (animate) {
          galleryCards[i].classList.add('animate')
        } else {
          galleryCards[i].classList.remove('animate')
        }
      }
    },
    scrollPage () {
      // Article(Block7) Animation
      var header = document.getElementById('articleHeader')
      if (shared.scrolledInElement(header)) {
        header.classList.add('animate')
      } else {
        header.classList.remove('animate')
      }

      var articleGalleries = document.getElementsByClassName('gallery')
      var galleryGap = document.getElementById('galleryGap')
      if (shared.scrolledInElement(articleGalleries[0]) || shared.scrolledInElement(articleGalleries[1]) || shared.scrolledInElement(galleryGap)) {
        this.runArticleAnimation()
      } else {
        this.runArticleAnimation(false)
      }

      // Footer(Block8) Animation
      header = document.getElementById('footerHeader')
      if (shared.scrolledInElementWithParent(header.offsetParent, header)) {
        header.classList.add('animate')
      } else {
        header.classList.remove('animate')
      }

      var footerContent = document.getElementById('footerLeftContent')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('socialLinks')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('footerRightContent')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('footerRightContent2')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }

      footerContent = document.getElementById('footerCopyright')
      if (shared.scrolledInElementWithParent(footerContent.offsetParent, footerContent)) {
        footerContent.classList.add('animate')
      } else {
        footerContent.classList.remove('animate')
      }
    }
  },
  mounted () {
    var self = this
    window.document.body.onscroll = function () {
      self.scrollPage()
    }
  }
}
</script>
