<template>
  <div v-bind:class="{'block-article':true, 'block-blog':(blockType === 'search')}">
    <div class="header" id="articleHeader">
      <h1 class="block-title">Полезные статьи</h1>
      <p class="block-description desktop">Читайте лучшие статьи от экспертов в области здравоохранения которые подобрала для вас наша команда</p>
      <p class="block-description mobile">
        Читайте лучшие статьи от экспертов<br>
        в области здравоохранения которые<br>
        подобрала для вас наша команда
      </p>
    </div>
    <div class="gallery">
      <b-card
        :img-src="articlePhoto1"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2 gallery-card left">
        <p class="card-text">
          Как распознать злакачественные родинки?
        </p>
        <p class="card-date">19.12.17</p>
      </b-card>
      <b-card
        :img-src="articlePhoto2"
        img-alt="ВЫБЕРИТЕ ДОКТОРА"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2 gallery-card middle">
        <p class="card-text">
          8 фактов и 8 мифов о беременности: больше не боимся суеверий
        </p>
        <p class="card-date">19.12.17</p>
      </b-card>
      <b-card
        :img-src="articlePhoto3"
        img-alt="ВЫБЕРИТЕ ДОКТОРА"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2 gallery-card right">
        <p class="card-text">
          Венеролог не священник: врач которого не нужно стесняться
        </p>
        <p class="card-date">19.12.17</p>
      </b-card>
    </div>
    <div class="gallery-gap" id="galleryGap"></div>
    <div class="gallery bottom">
      <b-card
        :img-src="articlePhoto1"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2 gallery-card left">
        <p class="card-text">
          Как распознать злакачественные родинки?
        </p>
        <p class="card-date">19.12.17</p>
      </b-card>
      <b-card
        :img-src="articlePhoto2"
        img-alt="ВЫБЕРИТЕ ДОКТОРА"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2 gallery-card middle">
        <p class="card-text">
          8 фактов и 8 мифов о беременности: больше не боимся суеверий
        </p>
        <p class="card-date">19.12.17</p>
      </b-card>
      <b-card
        :img-src="articlePhoto3"
        img-alt="ВЫБЕРИТЕ ДОКТОРА"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2 gallery-card right">
        <p class="card-text">
          Венеролог не священник: врач которого не нужно стесняться
        </p>
        <p class="card-date">19.12.17</p>
      </b-card>
    </div>
    <div id="galleryBox">

    </div>
  </div>
</template>

<script>
export default {
  name: 'ArticleBlock',
  props: ['blockType'],
  data: () => ({
    articlePhoto1: require('@/assets/photo-article1.svg'),
    articlePhoto2: require('@/assets/photo-article2.svg'),
    articlePhoto3: require('@/assets/photo-article3.svg')
  })
}
</script>

<style lang="scss">
  .block-article {
    padding-top: 3.19rem;
    padding-bottom: 5.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(70, 81, 101, 0.0666);
    &.block-blog {
      background: white;
    }
    .header {
      transition: transform 2s, opacity 2s;
      opacity: 0;
      transform: translate(0, -3.19rem);
      &.animate {
        opacity: 1;
        transform: translate(0);
      }
    }
    .block-title {
      font-size: 2.44rem;
    }

    p {
      width: 29.8rem;
    }

    .gallery {
      margin-top: 3rem;
      display: flex;
      .card {
        width: 22.62rem;
        max-width: 23.45rem !important;
        margin-right: 2.62rem;
        margin-bottom: 0 !important;
        border: 0;
        box-shadow: 0px 10px 40px rgba(113, 130, 138, 0.2);
        text-align: left;
        cursor: pointer;
        transition: transform 2s, opacity 2s;
        opacity: 0;
        transform: translate(-87.2rem);
        &:last-child {
          margin-right: 0;
        }

        .card-body {
          position: relative;
          padding: 1.25rem 2rem;
          p {
            font-weight: 600;
            font-size: 1rem;
            margin: 0;
          }
          .card-text {
            width: 18rem;
            height: 7rem;
          }
          .card-date {
            font-family: 'Montserrat';
            position: absolute;
            left: 2rem;
            bottom: 1.5rem;
            line-height: 1rem;
            color: #00C1FF;
          }
        }

        &:hover {
          margin-top: -0.3rem;
          width: 23.45rem;
          height: 25.76rem;
        }

        &.animate {
          opacity: 1;
          transform: (translate(0));
        }

        &.left {
          transition-delay: 1.5s;
          &.animate {
            transition-delay: 1s;
          }
        }

        &.middle {
          transition-delay: 2s;
          &.animate {
            transition-delay: 0.5s;
          }
        }

        &.right {
          transition-delay: 2.5s;
          &.animate {
            transition-delay: 0s;
          }
        }
      }

      &.bottom {
        margin-top: 0;
        // margin-top: 2.5rem;
        .card {
          &.left {
            transition-delay: 0s;
            &.animate {
              transition-delay: 2.5s;
            }
          }

          &.middle {
            transition-delay: 0.5s;
            &.animate {
              transition-delay: 2s;
            }
          }

          &.right {
            transition-delay: 1s;
            &.animate {
              transition-delay: 1.5s;
            }
          }
        }
      }
    }

    .gallery-gap {
      width: 100%;
      height: 2.5rem;
    }
  }
</style>
