<template>
  <div class="block-footer row">
    <div class="contact-us col-md-7 col-sm-12 col-12">
      <div class="header" id="footerHeader">
        <span>Ваше мнение</span>
        <div>
          <span class="emphasis">важно </span>
          <span>для нас</span>
        </div>
      </div>
      <div class="text-box" id="footerLeftContent">
        <p class="desktop">
          У возникли вопросы? Вы хотите поделиться с нами предложениями по улучшению нашего сервиса? Напишите нам на asktriva@gmail.com
        </p>
        <p class="mobile">
          У возникли вопросы? Вы хотите<br>
          поделиться с нами предложениями по<br>
          улучшению нашего сервиса?<br>
          Напишите нам на asktriva@gmail.com
        </p>
        <p class="update-text">
          Подписывайтесь на наши обновления:
        </p>
      </div>
      <div class="subscribe-box" id="footerSubscribe">
        <div class="edit-box" id="emailBox">
          <img class="icon-email" src="../../assets/icon-subscribe-1.svg"/>
          <input class="edit-email" type="email" placeholder="vash@email.com"
            v-model="contactEmail"
            @focus="handleEmailFocus"
            @focusout="handleEmailFocusOut"
            @keyup="handleEditEmail">
        </div>
        <button class="button-subscribe" @click="handleSubscribeClick">Подписаться</button>
      </div>
    </div>
    <div class="footer-links col-md-5 col-sm-12 col-12">
      <div class="social-links" id="socialLinks">
        <a class="button-social" href="https://www.instagram.com/3va.co/" target="_blank"
          @mouseover="handleSocialLinksOver"
          @mouseout="handleSocialLinksOut">
          <img class="icon-instagram" src="../../assets/icon-instagram-1.svg" />
        </a>
        <a class="button-social" href="https://t.me/joinchat/AAAAAEVI47uF6PIWBz7f3g" target="_blank"
          @mouseover="handleSocialLinksOver"
          @mouseout="handleSocialLinksOut">
          <img class="icon-telegram" src="../../assets/icon-telegram-1.svg" />
        </a>
        <a class="button-social" href="https://vk.com/3vaco" target="_blank"
          @mouseover="handleSocialLinksOver"
          @mouseout="handleSocialLinksOut">
          <img class="icon-vk" src="../../assets/icon-vk-1.svg" />
        </a>
      </div>
      <div class="recommend-content" id="footerRightContent">
        <p class="recommend-text desktop">Хотите узнать как вести здоровый образ и
          узнавать интересные факты о человеческом здоровье?</p>
        <p class="recommend-text mobile">
          Хотите узнать как вести здоровый<br>
          образ и узнавать интересные факты о<br>
          человеческом здоровье?
        </p>
        <p class="network-text desktop">Подписывайтесь на наши страницы в социальных сетях</p>
        <p class="network-text mobile">Подписывайтесь на наши<br>страницы в социальных сетях</p>
      </div>
      <p class="info-text" id="footerRightContent2">
        Информация получена из открытых источников и ответственность за её достоверность “3va.co” не несёт. Отзывы являются оценочными суждениями их авторов и не имеют отношения к редакции сайта. Ответственность за достоверность отзыва несёт его автор. Запрещено любое использование материалов сайта без письменного разрешения администрации. Информация не может быть использована для замены непосредственной консультации с врачом или принятия решения о применении лекарственных средств.
      </p>
      <div class="copyright" id="footerCopyright">
        <a href="https://www.3va.co/assets/terms/3va_co_terms_of_use.pdf" target="_blank" class="link-term">Пользовательское соглашение</a>
        <p class="copyright-text">Copyright 2018 Все права защищены</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterBlock',
  data: () => ({
    contactEmail: ''
  }),
  methods: {
    handleEmailFocus () {
      event.target.parentElement.children[0].src = require('@/assets/icon-subscribe-2.svg')
    },
    handleEmailFocusOut () {
      event.target.parentElement.children[0].src = require('@/assets/icon-subscribe-1.svg')
    },
    handleEditEmail () {
      document.getElementById('emailBox').classList.remove('warn')
    },
    handleSubscribeClick () {
      if (this.contactEmail.length) {
        console.log('Send email to ' + this.contactEmail)
      } else {
        var emailBox = document.getElementById('emailBox')
        emailBox.classList.add('warn')
        emailBox.children[1].focus()
      }
    },
    handleSocialLinksOver () {
      var iconLink = event.target
      if (iconLink.className.includes('button-social')) {
        iconLink = event.target.firstChild
      }

      switch (iconLink.className) {
        case 'icon-instagram':
          iconLink.src = require('@/assets/icon-instagram-2.svg')
          break
        case 'icon-telegram':
          iconLink.src = require('@/assets/icon-telegram-2.svg')
          break
        case 'icon-vk':
          iconLink.src = require('@/assets/icon-vk-2.svg')
          break
      }
    },
    handleSocialLinksOut () {
      var iconLink = event.target
      if (iconLink.className.includes('button-social')) {
        iconLink = event.target.firstChild
      }

      switch (iconLink.className) {
        case 'icon-instagram':
          iconLink.src = require('@/assets/icon-instagram-1.svg')
          break
        case 'icon-telegram':
          iconLink.src = require('@/assets/icon-telegram-1.svg')
          break
        case 'icon-vk':
          iconLink.src = require('@/assets/icon-vk-1.svg')
          break
      }
    }
  }
}
</script>

<style lang="scss">
  .block-footer {
    background: #021F56;
    margin-left: 0;
    margin-right: 0;
    .contact-us {
      padding-top: 8.1rem;
      padding-left: 8.75rem;
      text-align: left;
      .header {
        transition: 2s;
        opacity: 0;
        transform: translate(0, -5rem);
        span {
          line-height: 2rem;
          font-family: 'Montserrat', sans-serif;
          font-size: 2.44rem;
          color: white;
          &.emphasis {
            font-weight: bold;
            color: #14BEF0;
          }
        }

        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
      .text-box {
        margin-top: 1.2rem;
        transition: 2s;
        opacity: 0;
        transform: translate(-5rem);
        p {
          width: 25.25rem;
          margin: 0;
          line-height: 1.37rem;
          text-align: left;
          font-size: 1rem;
          color: white;
          &.update-text {
            font-weight: bold;
          }
        }

        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
      .subscribe-box {
        margin-top: 1.1rem;
        display: flex;
        .edit-box {
          display: flex;
          align-items: center;
          width: 15.62rem;
          padding-left: 0.75rem;
          background: white;
          box-shadow: 5px 5px 15px rgba(240, 240, 240, 0.21), -5px -5px 20px rgba(240, 240, 240, 0.25);
          border-radius: 3px;
          .icon-email {
            width: 0.94rem;
          }

          .edit-email {
            width: 100%;
            margin: 0 0.75rem;
            border: 0;
            font-family: 'Montserrat';
            font-size: 0.75rem;
            &:focus {
              outline: 0;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba(0,0,0,0.3);
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: rgba(0,0,0,0.3);
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: rgba(0,0,0,0.3);
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: rgba(0,0,0,0.3);
            }

            &:focus {
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #4A4A4A;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #4A4A4A;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #4A4A4A;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #4A4A4A;
              }
            }
          }

          &.warn {
            border: 3px solid #E6314F;
          }
        }
        .button-subscribe {
          width: 7.5rem;
          height: 2.5rem;
          margin-left: 0.87rem;
          background: #00DBAB;
          box-shadow: 5px 5px 15px rgba(80, 227, 194, 0.31), -5px -5px 15px rgba(80, 227, 194, 0.29);
          border: 0;
          border-radius: 3px;
          outline: 0;
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 0.75rem;
          color: white;
          cursor: pointer;
          &:hover {
            background: #02CA9E;
          }
          &:active {
            color: lightgray;
          }
        }
      }
    }
    .footer-links {
      padding: 0;
      text-align: left;
      padding-bottom: 5rem;
      .social-links {
        margin-top: 4.69rem;
        padding-left: 0.44rem;
        align-items: center;
        transition: 2s;
        opacity: 0;
        .button-social {
          margin-right: 2.31rem;
          padding: 0;
          border: 0;
          background: transparent;
          outline: 0;
          text-align: left;
          cursor: pointer;
          .icon-instagram {
            width: 1.44rem;
          }
          .icon-telegram {
            width: 1.56rem;
          }
          .icon-vk {
            width: 1.87rem;
          }
        }
        &.animate {
          opacity: 1;
          transform: translate(0)
        }
      }

      p {
        width: 23rem;
        margin: 0;
        line-height: 1.34rem;
        color: white;
        font-size: 0.75rem;
        &.recommend-text {
          font-size: 1rem;
          margin-top: 1.31rem;
        }
        &.network-text {
          font-size: 1rem;
          font-weight: bold;
        }
        &.info-text {
          width: 23.25rem;
          margin:1.87rem 0;
          line-height: 1.1rem;
        }
        &.copyright-text {
          font-family: 'Montserrat';
          font-weight: bold;
        }
      }

      .link-term {
        font-family: 'Montserrat';
        font-size: 0.75rem;
        font-weight: bold;
        text-decoration: underline;
        color: #14BEF0;
      }

      .recommend-content, .info-text, .copyright {
        transition: 2s;
        opacity: 0;
        transform: translate(-5rem);
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
    }
  }
</style>
