<template>
<div class="block-specialist">
  <div class="header" id="speicalityHeader">
    <h1 class="desktop">Cпециальности врачей</h1>
    <h1 class="mobile">Cпециальности<br>врачей</h1>
    <p class="block-description desktop">В нашей базе есть более 200 специальностей</p>
    <p class="block-description mobile">В нашей базе есть более 200<br>специальностей</p>
  </div>
  <div class="specialist-box" id="speciallistBox">
    <ul class="speicalist-list" id="leftSpeicalList">
      <li v-for="(speciality, index) in specialistLeft" :key="index">
        <p>({{speciality.doctors}})</p>
        <p class="speciality-name" @click="handleSpecialityClick(speciality.name)">{{speciality.name}}</p>
      </li>
    </ul>
    <ul class="speicalist-list" id="middleSpecialist">
      <li v-for="(speciality, index) in specialistMiddle" :key="index">
        <p>({{speciality.doctors}})</p>
        <p class="speciality-name" @click="handleSpecialityClick(speciality.name)">{{speciality.name}}</p>
      </li>
    </ul>
    <ul class="speicalist-list" id="rightSpecialist">
      <li v-for="(speciality, index) in specialistRight" :key="index">
        <p>({{speciality.doctors}})</p>
        <p class="speciality-name" @click="handleSpecialityClick(speciality.name)">{{speciality.name}}</p>
      </li>
    </ul>
    <a class="read-more mobile" id="readMoreLink" @click="handleReadMore">Смотреть еще</a>
  </div>
</div>
</template>

<script>
import store from '../../store'

export default {
  name: 'SpecialistBlock',
  data: () => ({
    specialistLeft: [],
    specialistMiddle: [],
    specialistRight: [],
    /* specialistLeft: [
      { doctors: 737, name: 'Акушер' },
      { doctors: 64, name: 'Логопед' },
      { doctors: 137, name: 'Венеролог' },
      { doctors: 111, name: 'Невролог' },
      { doctors: 18, name: 'Неонаталог' },
      { doctors: 93, name: 'Онколог' },
      { doctors: 518, name: 'Пластический хирург' },
      { doctors: 37, name: 'Инфекционист' },
      { doctors: 82, name: 'Пульманолог' },
      { doctors: 356, name: 'Кардиолог' },
      { doctors: 297, name: 'Эндокринолог' },
      { doctors: 301, name: 'Уролог' },
      { doctors: 32, name: 'Флеболог' },
      { doctors: 57, name: 'Маммолог' },
      { doctors: 112, name: 'Окулист' },
      { doctors: 227, name: 'Манульный терапевт' },
      { doctors: 85, name: 'Диетолог' },
      { doctors: 127, name: 'Остеопат' },
      { doctors: 435, name: 'Психолог' },
      { doctors: 134, name: 'Аллерголог' }
    ],
    specialistMiddle: [
      { doctors: 737, name: 'Акушер' },
      { doctors: 64, name: 'Логопед' },
      { doctors: 137, name: 'Венеролог' },
      { doctors: 111, name: 'Невролог' },
      { doctors: 18, name: 'Неонаталог' },
      { doctors: 93, name: 'Онколог' },
      { doctors: 518, name: 'Пластический хирург' },
      { doctors: 37, name: 'Инфекционист' },
      { doctors: 82, name: 'Пульманолог' },
      { doctors: 356, name: 'Кардиолог' },
      { doctors: 297, name: 'Эндокринолог' },
      { doctors: 301, name: 'Уролог' },
      { doctors: 32, name: 'Флеболог' },
      { doctors: 57, name: 'Маммолог' },
      { doctors: 112, name: 'Окулист' },
      { doctors: 227, name: 'Манульный терапевт' },
      { doctors: 85, name: 'Диетолог' },
      { doctors: 127, name: 'Остеопат' },
      { doctors: 435, name: 'Психолог' },
      { doctors: 134, name: 'Аллерголог' }
    ],
    specialistRight: [
      { doctors: 737, name: 'Акушер' },
      { doctors: 64, name: 'Логопед' },
      { doctors: 137, name: 'Венеролог' },
      { doctors: 111, name: 'Невролог' },
      { doctors: 18, name: 'Неонаталог' },
      { doctors: 93, name: 'Онколог' },
      { doctors: 518, name: 'Пластический хирург' },
      { doctors: 37, name: 'Инфекционист' },
      { doctors: 82, name: 'Пульманолог' },
      { doctors: 356, name: 'Кардиолог' },
      { doctors: 297, name: 'Эндокринолог' },
      { doctors: 301, name: 'Уролог' },
      { doctors: 32, name: 'Флеболог' },
      { doctors: 57, name: 'Маммолог' },
      { doctors: 112, name: 'Окулист' },
      { doctors: 227, name: 'Манульный терапевт' },
      { doctors: 85, name: 'Диетолог' },
      { doctors: 127, name: 'Остеопат' },
      { doctors: 435, name: 'Психолог' },
      { doctors: 134, name: 'Аллерголог' }
    ], */
    currentShowIndex: 0
  }),
  methods: {
    handleSpecialityClick: function (name) {
      document.documentElement.scrollTop = 0
      document.body.scrollTop = 0
      store.state.specialitySearch = true
      this.$parent.setSpeicality(name)
    },
    handleReadMore () {
      this.currentShowIndex++
      var specialistGroup = document.getElementsByClassName('speicalist-list')
      if (this.currentShowIndex < specialistGroup.length) {
        specialistGroup[this.currentShowIndex].style.display = 'block'
        console.log('000', specialistGroup[this.currentShowIndex])
      }
      if (this.currentShowIndex >= specialistGroup.length - 1) {
        document.getElementById('readMoreLink').style.display = 'none'
      }
    },
    getArrayGroup (arr) {
      let a = []
      let b = []
      let prev
      arr.sort()
      for (let i = 0; i < arr.length; i++) {
        if (arr[i] !== prev) {
          a.push(arr[i])
          b.push(1)
        } else {
          b[b.length - 1]++
        }
        prev = arr[i]
      }
      return [a, b]
    }
  },
  mounted () {
    store.dispatch('getSpecialityDoctorsData').then(() => {
      let specialitiesDoctors = []
      let searchData = [...store.getters.getSpecialityDoctorsData]
      let allSpecialities = []
      searchData.map((row) => {
        let jsonData = JSON.parse(row[0])
        if (jsonData && jsonData.length > 0) {
          jsonData.map((special) => {
            allSpecialities.push(special)
          })
        }
      })
      // let specialities = allSpecialities.filter((v, i, a) => a.indexOf(v) === i)
      let arrayGroup = this.getArrayGroup(allSpecialities)
      arrayGroup[0].map((item, idx) => {
        specialitiesDoctors.push({name: item, doctors: arrayGroup[1][idx]})
      })
      let blockCount = Math.floor(specialitiesDoctors.length / 3)
      let blockExtraCount = specialitiesDoctors.length % 3
      let blockIndexs = []
      if (blockExtraCount === 0) {
        blockIndexs = [0, blockCount - 1, blockCount, 2 * blockCount - 1, 2 * blockCount, specialitiesDoctors.length - 1]
      } else {
        blockIndexs = [0, blockCount, blockCount + 1, 2 * blockCount + 1, 2 * blockCount + 2, specialitiesDoctors.length - 1]
      }
      let _specialistLeft = []
      let _specialistMiddle = []
      let _specialistRight = []
      for (let i = 0; i < specialitiesDoctors.length; i++) {
        if (i < blockIndexs[1] + 1) {
          _specialistLeft.push(specialitiesDoctors[i])
        } else if (i > blockIndexs[2] - 1 && i < blockIndexs[3] + 1) {
          _specialistMiddle.push(specialitiesDoctors[i])
        } else {
          _specialistRight.push(specialitiesDoctors[i])
        }
      }
      this.specialistLeft = _specialistLeft
      this.specialistMiddle = _specialistMiddle
      this.specialistRight = _specialistRight
    })
  }
}
</script>

<style lang="scss">
  .block-specialist {
    $animation-delay: 0s;
    padding-bottom: 5.19rem;
    margin-top: 3.5rem;
    .header {
      transition: 2s;
      opacity: 0;
      transform: translate(0, -3.5rem);
      &.animate {
        opacity: 1;
        transform: translate(0);
      }
    }
    .specialist-box {
      display: flex;
      justify-content: center;
      margin-top: 3.44rem;
      .speicalist-list {
        list-style: none;
        margin-right: 7.9rem;
        padding: 0;
        margin-bottom: 0;
        font-size: 1rem;
        li {
          display: flex;
          transition: transform 2s, opacity 2s;
          opacity: 0;
          transform: translate(0, -1rem);
          pointer-events: none;
          p {
            text-align: right;
            width: 4rem;
            margin: 0;
            font-family: 'Montserrat';
            font-size: 1rem;
            &.speciality-name {
              margin-left: 0.37rem;
              width: auto;
              color: #00C1FF;
              &:hover {
                color: darkblue;
              }
            }
          }

          &.animate {
            cursor: pointer;
            opacity: 1;
            transform: translate(0);
            pointer-events: auto;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
</style>
