<template>
  <div class="card-doctor" :id="'doctorCard' + doctor.id" v-if="doctor">
    <div class="card-content">
      <img :src="doctor.imgUrl">
      <div class="main-info">
        <h1>{{doctor.name}}</h1>
        <p class="speicality-name">{{doctor.speciality.toString().replace(",", ", ")}}</p>
        <p>{{doctor.service.toString().replace(",", ", ")}}</p>
      </div>
      <div class="sub-info">
        <p>{{doctor.experience}}</p>
        <div>
          <img src="@/assets/icon-price.svg">
          <p>{{doctor.price}} руб. за консультацию</p>
        </div>
        <div>
          <img src="@/assets/icon-like.svg">
          <span class="rating">{{doctor.rating}}%</span>
          <span>({{doctor.review}} отзыва)</span>
        </div>
      </div>
    </div>
    <div class="card-actions">
      <p @click="handleClickProfile">О враче</p>
      <p @click="handleClickReview">Отзывы</p>
      <button @click="handleClickFeedback">Оставить отзыв</button>
      <button @click="handleClickBooking">
        <img src="@/assets/icon-phone.svg">
        Записаться
      </button>
    </div>
    <div class="profile">
      <div class="subject">
        <p class="title">Образование:</p>
        <p v-for="(education, index) in doctor.profile.education" :key="'edu-'+index">{{education}}</p>
      </div>
      <div class="subject">
        <p class="title">Курсы повышения квалификации:</p>
        <p v-for="(course, index) in doctor.profile.course" :key="'cur-'+index">{{course}}</p>
      </div>
    </div>
    <div class="review">
      <div class="review-card" v-for="(review, index) in doctor.reviews" :key="'rvw-'+index" :id="'reviewCard'+index" v-show="index < 5" >
        <p class="name">{{review.author}}</p>
        <div class="rate-box">
          <p>Оценка:</p>
          <p class="rate">{{review.rating}}</p></div>
        <p>{{review.text}}</p>
        <p class="date">{{review.date}}</p>
      </div>
      <page-control type="review" :totalCount="Math.ceil(doctor.reviews.length/5)" :doctorID="doctor.id"/>
    </div>
    <div class="feedback">
      <p>Оставьте комментарий (по желанию):</p>
      <input class="review_offer mb-2" placeholder="название" :ref="'reviewOfferName'+doctor.id" />
      <textarea class="review_text" placeholder="Обратная связь" :ref="'feedbackText'+doctor.id" />
      <div class="give-rating">
        <p>Оцените работу врача (обязательно):</p>
        <ul>
          <div :key="index" v-for="(rate, index) in rates">
            <li @click="handleClickRate(index)" class="rated" v-if="rate">{{index+1}}</li>
            <li @click="handleClickRate(index)" v-else>{{index+1}}</li>
          </div>
        </ul>
        <button @click="handleClickReviewButton">Готово!</button>
      </div>
    </div>
    <div class="booking">
      <div class="phone-box">
        <p>Номер телефона:</p>
        <p>{{doctor.profile.phone}}</p>
      </div>
      <p>Позвонив по этому номеру, вы подтверждаете что ознакомились с Пользовательским соглашением</p>
    </div>
    <div class="loader" id="detailLoader">
      <div class="loader-box">
        <div class="dot--normal dot animate-dots"></div>
        <div class="dot--normal dot animate-dots"></div>
        <div class="dot--normal dot animate-dots"></div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../../store'
import Pagenation from './Pagenation.vue'
// import { mapState } from 'vuex';

export default {
  name: 'DoctorCard',
  components: {
    'page-control': Pagenation
  },
  props: {
    doctor: Object
  },
  data: () => ({
    currentActive: '',
    rate: 0,
    rates: [false, false, false, false, false]
  }),
  methods: {
    initCardClass () {
      var currentDoctorId = this.$parent.currentDoctorId
      if (currentDoctorId > -1) {
        var doctorId = 'doctorCard' + currentDoctorId
        if (document.getElementById(doctorId)) {
          document.getElementById(doctorId).classList.add('profile-active')
          var cardClass = document.getElementById(doctorId).classList
          var classArray = ['profile-active', 'review-active', 'feedback-active', 'booking-active']
          classArray.forEach(function (className) {
            cardClass.remove(className)
          })
        }
      }
      this.$parent.setCurrentDoctorId(this.doctor.id)
    },
    startDetailLoading (doctorId) {
      if (this.currentActive.length) {
        var cardClass = document.getElementById(doctorId).classList
        document.getElementById('detailLoader').style.display = 'block'

        var self = this
        setTimeout(function () {
          document.getElementById('detailLoader').style.display = 'none'
          cardClass.add(self.currentActive)
        }, 2000)
      }
    },
    activeDetail (activeClass) {
      var oldCurrentDoctorId = this.$parent.currentDoctorId
      var doctorId = 'doctorCard' + this.doctor.id
      var cardClass = document.getElementById(doctorId).classList
      var isActive = cardClass.contains(activeClass)

      this.initCardClass()
      if (oldCurrentDoctorId === this.doctor.id) {
        if (!isActive) {
          this.currentActive = activeClass
          cardClass.add(activeClass)
        }
      } else {
        this.currentActive = activeClass
        cardClass.add(activeClass)
      }
    },
    handleClickProfile () {
      this.activeDetail('profile-active')
    },
    handleClickReview () {
      this.activeDetail('review-active')
    },
    handleClickFeedback () {
      this.activeDetail('feedback-active')
    },
    handleClickBooking () {
      this.activeDetail('booking-active')
    },
    handleClickReviewButton () {
      let doctorId = this.doctor.doctorId
      let reviewOfferName = this.$refs['reviewOfferName' + this.doctor.id].value
      let feedbackText = this.$refs['feedbackText' + this.doctor.id].value
      // let date = new Date()
      // let dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString().split('T')[0]
      let saveData = {doctor_id: doctorId, text: feedbackText, author: reviewOfferName, rating: this.rate}
      store.dispatch('saveReview', saveData).then(() => {
        this.initCardClass()
        console.log('Saved a review.')
      })
    },
    handleClickRate (rate) {
      this.rate = rate + 1
      let _rates = []
      _rates = [...this.rates]
      _rates.forEach((opt, i) => {
        if (i === rate) {
          _rates[i] = true
        } else {
          _rates[i] = false
        }
      })
      this.rates = _rates
    }
  }
}
</script>

<style lang="scss">
  .card-doctor {
    width: 60rem;
    background: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(224, 224, 224, 1);
    border-radius: 6px 4px 4px 4px;
    margin-bottom: 0.94rem;
    .card-content {
      padding-top: 1.56rem;
      padding-left: 1.81rem;
      display: flex;
      align-items: center;
      text-align: left;
      p {
        margin: 0;
      }
      .main-info {
        margin: 0 1.94rem;
        width: 75%;
        h1 {
          width: 31rem;
          font-family: 'Open Sans';
          font-size: 1.12rem;
        }

        p {
          margin-top: 0.37rem;
          font-size: 0.87rem;
          &.speicality-name {
            color: #00C1FF;
          }
        }
      }
      .sub-info {
        // margin-left: 6.56rem;
        div {
          display: flex;
          align-items: center;
          line-height: 1rem;
          img {
            width: 0.94rem;
            height: 0.94rem;
            margin-right: 4px;
          }

          &:last-child {
            margin-top: 0.62rem;
          }
        }

        p {
          font-size: 0.75rem;
          &:first-child {
            margin-bottom: 0.62rem;
            font-size: 0.87rem;
            font-weight: bold;
            color: #00DBAB;
          }
        }

        span {
          margin-right: 4px;
          font-size: 0.75rem;
          &.rating {
            font-weight: bold;
            color: #00DBAB;
          }
        }
      }
    }

    .card-actions {
      margin-top: 2.47rem;
      margin-left: 28.5rem;
      padding-bottom: 1.62rem;
      display: flex;
      align-items: center;
      p {
        cursor: pointer;
        margin-bottom: 0;
        margin-right: 1.94rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: #021F56;
        text-decoration: none;
      }
      button {
        background: white;
        box-shadow: 5px 5px 15px rgba(240, 240, 240, 0.208616), -5px -5px 15px rgba(240, 240, 240, 0.244763);
        width: 9.37rem;
        height: 2.5rem;
        margin-right: 0.94rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        border: 1px solid #14BEF0;
        border-radius: 2px;
        color: #14BEF0;
        &:focus {
          outline: 5px auto #14BEF0;
        }

        &:last-child {
          background: #14BEF0;
          border: 0;
          color: white;
          img {
            margin-right: 0.44rem;
          }
        }
      }
    }
    // About profile
    .profile {
      display: none;
      padding: 1.25rem 3.37rem;
      border-top: 1px solid #636363;
      text-align: left;
      animation: defailFadeIn .8s ease-in;
      .subject {
        margin-bottom: 1.56rem;
        .title {
          font-size: 0.87rem;
          font-weight: bold;
          color: #021F56;
        }

        p {
          width: 31.25rem;
          margin-bottom: 0.5rem;
          font-size: 0.75rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    // Reviews
    .review {
      display: none;
      padding-left: 3.56rem;
      padding-bottom: 1.72rem;
      border-top: 1px solid #636363;
      text-align: left;
      animation: defailFadeIn .8s ease-in;
      .review-card {
        width: 42rem;
        position: relative;
        border-bottom: 1px solid #999;
        margin-top: 1.12rem;
        padding-left: 1.06rem;
        padding-bottom: 1rem;
        p {
          font-size: 0.75rem;
          margin-bottom: 0.5rem;
          &:last-child {
            margin: 0;
          }
        }
        .name, .rate {
          font-size: 1.12rem;
          font-weight: bold;
        }
        .name {
          font-family: 'Montserrat';
          color: #021F56;
        }
        .rate-box {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          p {
            margin-bottom: 0;
          }

          .rate {
            margin-left: 0.31rem;
            color:#14BEF0;
          }
        }
        .date {
          text-align: right;
          margin-right: 1rem;
          font-family: 'Montserrat';
          font-weight: bold;
          color: #14BEF0;
        }

        &:nth-last-child(2) {
          border: 0;
        }
      }
    }
    // Leave feedback
    .feedback {
      display: none;
      border-top: 1px solid #636363;
      padding: 0 3.81rem;
      padding-top: 1.25rem;
      padding-bottom: 0.87rem;
      text-align: left;
      animation: defailFadeIn .8s ease-in;
      p {
        margin-bottom: 0.31rem;
        font-size: 0.87rem;
      }

      textarea {
        padding: 0.5rem;
        width: 100%;
        height: 6.25rem;
        background: #FAFAFA;
        border: 0.5px solid #D6D6D6;
        border-radius: 3px;
        resize: none;
        font-size: 0.87rem;
        outline-color: #14BEF0;
      }

      input {
        padding: 0.5rem;
        width: 50%;
        background: #FAFAFA;
        border: 0.5px solid #D6D6D6;
        border-radius: 3px;
        resize: none;
        font-size: 0.87rem;
        outline-color: #14BEF0;
      }

      .give-rating {
        height: 2.5rem;
        position: relative;
        margin-top: 1.56rem;
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }

        ul {
          padding: 0;
          margin-left: 1.75rem;
          margin-bottom: 0;
          list-style: none;
          display: flex;
          li {
            cursor: pointer;
            margin-right: 0.87rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: bold;
            color: #9B9B9B;
            &:hover {
              color: #14BEF0;
            }
          }
        }

        button {
          width: 6.25rem;
          height: 2.5rem;
          position: absolute;
          top: 0;
          right: 0;
          background: white;
          border: 1px solid #14BEF0;
          box-shadow: 5px 5px 15px rgba(240, 240, 240, 0.208616), -5px -5px 15px rgba(240, 240, 240, 0.244763);
          border-radius: 2px;
          outline-color: #14BEF0;
          font-size: 0.75rem;
          color: #14BEF0;
        }
      }
    }
    .rated {
      color: #14BEF0 !important;
    }
    // Booking
    .booking {
      display: none;
      border-top: 1px solid #636363;
      padding: 1.31rem 3.37rem;
      padding-bottom: 2rem;
      text-align: left;
      animation: defailFadeIn .8s ease-in;
      .phone-box {
        display: flex;
        align-items: center;
        p {
          font-size: 0.87rem;
          margin-top: 0.5rem;
          &:last-child {
            margin-top: 0;
            margin-left: 0.5rem;
            font-size: 2rem;
            font-weight: bold;
            color: #021F56;
          }
        }
      }

      p {
        margin: 0;
        font-size: 0.62rem;
      }
    }

    &.profile-active {
      .card-actions {
        p:first-child {
          text-decoration: underline;
        }
      }
      .profile {
        display: block;
      }
    }

    &.review-active {
      .card-actions {
        p:nth-child(2) {
          text-decoration: underline;
        }
      }
      .review {
        display: block;
      }
    }

    &.feedback-active {
      .feedback {
        display: block;
      }
    }

    &.booking-active {
      .booking {
        display: block;
      }
    }

    .loader {
      display: none;
      position: relative;
      width: 100%;
      height: 200px;
      background-color: #fff;
      border-top: 1px solid #e0e0e4;
      position: relative;
      animation: defailFadeIn .8s ease-in;
      animation-fill-mode: forwards;
      max-height: 600px;
      .loader-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .dot:first-child {
          animation-delay: .33333s;
        }
        .animate-dots {
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 1s;
          animation-name: dot;
        }
        .dot--normal {
          width: 0.67rem;
          height: 0.67rem;
          margin: 0 0.2rem;
        }
        .dot {
          border-radius: 50%;
          display: inline-block;
          background-color: hsla(240,6%,50%,.3);
          transform: translateZ(0);
        }
        .dot:nth-child(2) {
          animation-delay: .66667s;
        }
      }

      @keyframes dot {
        50%{background-color:#787887}
      }
    }

    @keyframes defailFadeIn {
      0%{max-height:0; opacity:0}
      to{max-height:1000px; opacity:1}
    }
  }
</style>
