<template>
<div class="page-control" v-bind:class="{'card-control':(type === 'card')}" v-show="totalCount>1">
  <button @click="pageStart" v-show="totalCount > 20">
    <img src="@/assets/icon-page-start.png" style="width: 20px;">
  </button>
  <button @click="pagePrev" v-show="totalCount > 10">
    <img src="@/assets/icon-page-prev.svg">
  </button>
  <span
    v-bind:class="{'active':(index+reviewPage * 10 === activePage - 1)}"
    v-for="(page, index) in viewCount"
    :key="index" @click='pageSelect(index+reviewPage*10)'>{{index+1+reviewPage*10}}
  </span>
  <!-- <span>...</span> -->
  <button @click="pageNext" v-show="totalCount > 10">
    <img src="@/assets/icon-page-next.svg">
  </button>
  <button @click="pageEnd" v-show="totalCount > 20">
    <img src="@/assets/icon-page-end.png" style="width: 20px;">
  </button>
</div>
</template>

<script>
import store from '../../store'

export default {
  name: 'Pagenation',
  props: [
    'type',
    'totalCount',
    'doctorID'],
  data: () => ({
    activePage: 1,
    reviewPage: 0,
    viewCount: 0
  }),
  methods: {
    initReviewClass (start) {
      this.viewCount = this.totalCount - this.reviewPage * 10 > 10 ? 10 : this.totalCount - this.reviewPage * 10
      for (var i = 0; i < this.totalCount * 5; i++) {
        if (document.getElementById('doctorCard' + this.doctorID).querySelector('#reviewCard' + i)) {
          document.getElementById('doctorCard' + this.doctorID).querySelector('#reviewCard' + i).style.display = 'block'
          if (i < start * 5 || i > start * 5 + 4) {
            document.getElementById('doctorCard' + this.doctorID).querySelector('#reviewCard' + i).style.display = 'none'
          }
        }
      }
    },
    initCardClass (start) {
      this.viewCount = this.totalCount - this.reviewPage * 10 > 10 ? 10 : this.totalCount - this.reviewPage * 10
      for (var i = 0; i < this.totalCount * 5; i++) {
        if (document.getElementById('doctorCard' + i)) {
          document.getElementById('doctorCard' + i).style.display = 'block'
          if (i < start * 5 || i > start * 5 + 4) {
            document.getElementById('doctorCard' + i).style.display = 'none'
          }
        }
      }
      var classArray = ['profile-active', 'review-active', 'feedback-active', 'booking-active']
      store.state.searchData.forEach(function (item, index) {
        classArray.forEach(function (className) {
          if (document.getElementById('doctorCard' + index)) document.getElementById('doctorCard' + index).classList.remove(className)
        })
      })
    },
    pageSelect (selectedPage) {
      if (this.type === 'review') {
        this.activePage = selectedPage + 1
        this.initReviewClass(this.activePage - 1)
      }
      if (this.type === 'card') {
        this.activePage = selectedPage + 1
        this.initCardClass(this.activePage - 1)
      }
    },
    pageStart () {
      if (this.type === 'review') {
        this.reviewPage = 0
        this.activePage = 1
        this.initReviewClass(this.activePage - 1)
      }
      if (this.type === 'card') {
        this.reviewPage = 0
        this.activePage = 1
        this.initCardClass(this.activePage - 1)
      }
    },
    pagePrev () {
      if (this.type === 'review' && this.reviewPage > 0) {
        this.reviewPage -= 1
        this.activePage = 1 + this.reviewPage * 10
        this.initReviewClass(this.activePage - 1)
      }
      if (this.type === 'card' && this.reviewPage > 0) {
        this.reviewPage -= 1
        this.activePage = 1 + this.reviewPage * 10
        this.initCardClass(this.activePage - 1)
      }
    },
    pageNext () {
      if (this.type === 'review' && this.reviewPage + 1 < Math.ceil(this.totalCount / 10)) {
        this.reviewPage += 1
        this.activePage = 1 + this.reviewPage * 10
        this.initReviewClass(this.activePage - 1)
      }
      if (this.type === 'card' && this.reviewPage + 1 < Math.ceil(this.totalCount / 10)) {
        this.reviewPage += 1
        this.activePage = 1 + this.reviewPage * 10
        this.initCardClass(this.activePage - 1)
      }
    },
    pageEnd () {
      if (this.type === 'review') {
        this.reviewPage = Math.ceil(this.totalCount / 10) - 1
        this.activePage = 1 + this.reviewPage * 10
        this.initReviewClass(this.activePage - 1)
      }
      if (this.type === 'card') {
        this.reviewPage = Math.ceil(this.totalCount / 10) - 1
        this.activePage = 1 + this.reviewPage * 10
        this.initCardClass(this.activePage - 1)
      }
    }
  },
  mounted () {
    this.initReviewClass(this.activePage - 1)
  }
}
</script>

<style lang="scss">
.page-control {
  max-width: 455px;
  margin-left: 1.07rem;
  display: flex;
  align-items: center;
  button {
    display: flex;
    margin-right: 15px;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
  }
  span {
    margin-right: 22px;
    font-family: 'Open Sans';
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    color: #9B9B9B;
    cursor: pointer;
    &:hover {
      color: #14BEF0;
    }

    &.active {
      color: #14BEF0;
    }

    &:nth-last-child(2) {
      margin-right: 15px;
    }
  }

  &.card-control {
    margin-left: 1.87rem;

    span {
      font-size: 20px;
    }
  }
}
</style>
